require "spec"
require "../src/<%= @name.downcase %>"

describe <%= @name %> do
  it "works for part1" do
    <%= @name %>.part1("input").should eq("output")
  end

  it "works for part2" do
    <%= @name %>.part2("input").should eq("output")
  end
end
